#navlink-catalogue {
    font-weight: 600;
}

.catalogue-parent {
    margin-top: 70px;
}

.catalogue-title {
    font-weight: 600;
}

.card {
    border-left-width: 5px;
}

.card.mine {
    border-left-color: var(--cbs-secondary-hover);
}

.card.not-min {
    border-left-color: var(--cbs-primary);
}