{% extends "layout.html" %}

{% block title %}
    Catalogue
{% endblock %}

{% block style %}
    <link href="{{url_for('static', filename="css/catalogue.css")}}" rel="stylesheet" />
    <link href="{{url_for('static', filename="css/card.css")}}" rel="stylesheet" />
{% endblock %}

{% block main%}
    <div class="container catalogue-parent">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <h4 class="mb-5 mt-5 catalogue-title">Public Catalogue</h4>
                <a href="/contribute" class="btn btn-primary">Contribute</a>
            </div>
            <div class="col-12 mb-4">
                {% if book_list|length > 0 %}
                    {% for book in book_list %}
                        <div class="card mb-3 shadow-sm {% if book.contributor_id == user_id %}mine{% else %}not mine{% endif %}">
                            <div class="card-body">
                                <h5 class="card-title" style="font-weight:medium;">{{book.title}}</h5>
                                <h6 class="card-subtitle mb-4 text-muted" style="font-size: 0.9rem">{{book.author}}</h6>
                                <a href="book/{{book.id}}" class="card-link text-primary text-decoration-none">Read / Listen</a>
                                <a class="card-link text-primary text-decoration-none save cursor-pointer" for="{{book.id}}">Save</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename="js/catalogue/save.js")}}"></script>
{% endblock %}