{% extends "layout.html" %}

{% block title%}
    Home
{% endblock %}

{% block style %}
    <link href="{{url_for('static', filename="css/home.css")}}" rel="stylesheet" />
{% endblock %}

{% block main%}
    <div class="position-relative overflow-hidden parent-container">
        <div class="container position-relative overflow-hidden">
            <div class="row full-height">
                <div class="col-12 col-md-5 d-flex flex-column justify-content-around order-2 order-md-first">
                    <div class="title-container">
                        <h3 class="mb-5 text-black">Get more out of your audiobooks</h3>
                        <a href="/catalogue" class="btn btn-secondary btn-lg">Listen Now</a>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="position-relative hero-container d-flex justify-content-center align-items-center">
                        <img class="hero-img" src="{{url_for('static', filename="img/hero.png")}}" alt="audiobook"/>
                    </div>
                </div>
            </div>
        </div>
        <img class="position-absolute bg" src="{{url_for('static', filename="img/sound-wave.svg")}}" alt="sound-wave"/>
    </div>
{% endblock %}